body{
    background:#0f172a;
    color:white;
    font-family:Arial, sans-serif;
}

.project-container{
    width:80%;
    margin:50px auto;
    text-align:center;
}

.project-container img{
    width:50%;
    border-radius:12px;
    margin-bottom:20px;
}

ul{
    list-style:none;
    padding:0;
}

ul li{
    background:#1e293b;
    margin:6px;
    padding:8px;
    border-radius:6px;
}

.back-btn{
    display:inline-block;
    margin-top:20px;
    color:#38bdf8;
    padding-left: 10px;
    text-decoration:none;
}
